.titulo {
    font-family: "Lucida Handwriting", cursive;
    margin: 20px;
}
.navbar {
    height: 100px;
    
}
.navbar-brand {
    border-style: hidden;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity)) !important;
}
.row {
    margin: 100px;
}
.row a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.tarjeta {
display: none;
}

.botonbuscar {
    background-color: aquamarine;
    margin: 50px;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border-style: hidden;
}
button {
    background-color: aquamarine;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border-style: hidden;
    align-content: space-between;
    font-weight: bold;
}
.card-title {
    font-weight: bold;
    font-size: 30px;
}
.text-body-secondary {
    font-weight: bold;
    font-size: 30px;
}
.modal1 {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
}
.modal2 {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
}
.modal3 {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
}
.modal-content {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto; /* Centrada */
    padding: 20px;
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
  }
  .cerrar {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  .cerrar:hover,
  .cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .cerrar2 {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  .cerrar2:hover,
  .cerrar2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .cerrar3 {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  .cerrar3:hover,
  .cerrar3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .img1 {
    align-items: center;
    height: 300px;
    width: 400px;
  }

  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animarsuperior {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /********************************************************************************/
  /* Pantalla 2 */

  h3 {
    margin-left: 20px;
  }
  .was-validated {
    margin-left: 20px;
    margin-top: 50px;
    
  }
  .botonpagar {
    margin-top: 40px;
  }
  .home1 {
    border-style: hidden;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity)) !important;
  }